langchain
langchain_chroma
langchain-groq
langchain_openai
langchain_ollama
langchain_community
langchain_huggingface
sentence_transformers
accelerate
gradio
pyngrok
pypdf
pytz
flake8
flake8-html
unstructured
openpyxl
python-docx
scikit-learn
